/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); */

html,
body,
#container {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Monaco", monospace;
  /* font-weight: 600; */
  /* font-family: "Press Start 2P", cursive; */
}

#container {
  position: absolute;
  overflow: hidden;
}

img,
canvas {
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#screen {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#floor {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(128, 128, 128);
}

#ceiling {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: rgb(96, 96, 96);
}

#minimap {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#debug {
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 25px;
  white-space: pre;
}
